<section id="about">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="container">
        <div class="blog-post">
        <header>
            <h2>About Me</h2>
        </header>
        <br>
        <a href="#" class="image featured"><img src="assets/images/foto.png" alt="Punting" style="width:100%;"></a>
        <br>
        <p>
            <h4>
                I am a PhD Student in Natural Language Processing at the University of Sheffield, under the supervision of <a href="http://staffwww.dcs.shef.ac.uk/people/L.Specia/">Prof. Lucia Specia</a>.
                My current research is focused on exploring the use of acoustic information to improve the performance of multimodal NLP tasks -- focusing particularly on Machine Translation.
            </h4>
        </p>
        <br>
        <p>
            <h4>
                Currently, I am a Speech Scientist Intern at Amazon Research (Cambridge). I work on the Natural Language Understanding team under the supervision of <a href="http://jluisred.github.io">José Luis Redondo García.</a>
                My internship project is focused on cross-lingual transfer learning.
            </h4>
        </p>
        <br>
        <p>
            <h4>
                I obtained my M.Sc. in Computer Science and Computational Mathematics at the University of São Paulo, under the supervision
                of <a href="https://scholar.google.com/citations?user=_zZjhl8AAAAJ&hl=en">Prof. Maria das Graças Volpe Nunes</a>. My dissertation topic was Text Normalisation of User-generated Content for Portuguese. I
                worked on text normalisation methods based mostly on deep learning architectures and word embeddings similarity. As part of
                my research, I developed a free and open-source tool called Enelvo – a flexible text normaliser for user-generated texts written in
                Portuguese. I also built an annotated corpus of non-standard words in different domains.
            </h4>
        </p>
        <br>
        <p>
            <h4>
                I took my bachelor’s degree in Computer Science at the Western Paraná State University, with one year spent abroad at Katholieke
                Universiteit Leuven, in Belgium. During this period, I worked on various topics – including computational epidemiology, ensembles
                of neural networks, and sentiment analysis. Upon graduation, I was awarded the prizes of Best Computer Science Graduate of 2015
                and Outstanding Student in 2015, granted by the Brazilian Society for Computing.
            </h4>
        </p>
    </div>
    </div>
</section>
