<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ site.baseurl }}about.html">ABOUT ME</a></li>
      </ul>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <li><a href="https://scholar.google.com.br/citations?user=8aGxCZQAAAAJ" target="_blank">PUBLICATIONS</a></li>
        <!--<li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>-->
        <li><a href="https://drive.google.com/file/d/1_aKh4IpcJroaWAn8cThDYxRJF47e8oDy/view?usp=sharing"
            target="_blank">CV</a></li>
      </ul>
    </div>
  </div>
</nav>